<% extend("../../xedapphanthiet") %>
<section class="breacrumb_bg">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <span class=big-title> <%= blog.title  %> </span>
          <nav class="breadcrumb">
            <a class="breadcrumb-item" href="/">Trang chủ</a>
            <span class="breadcrumb-item active"><%= blog.title  %></span>
          </nav>
        </div>
      </div>
    </div>
  </section>

  <!-- news start -->
  <section id="news" class="news-details mt-4 page-relative">
    <div class="container">
      <div class="news-detail-box">
        <div class="row bg-white">
          <div class="col-sm-12 col-md-8">
            <div class="top-details">
              <img src="images/news/012.jpg" alt="">
            </div>
            <h1 class="ut_bold mt-4 mb-4"><%= blog.title  %></h1>
            <div class="news-event__day">
              <ul class="d-flex">
                <li> <i class="icofont icofont-ui-calendar"></i>
                  <span>
                    <%= blog.create_at  %> </span></li>
                <li> <i class="icofont-user-suited"></i> <%= blog.author  %> </li>
                </li>
              </ul>
            </div>
            <div class="entry-content single-page">
              <%- blog.content  %>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="sidebar-right">
              <div class="sidebar-widget">
                <h4 class="text_P text-main ut_bold"> TIN TỨC NỔI BẬT </h4>
                <div class="relate-list">
                  <ul>
                    <% blogFeature.forEach((blogfea) => { %>
                    <li>
                      <a class="feature_item" href="/blog/<%= blogfea.slug %>.<%= blogfea.id %>" title="<%= blogfea.title %>">
                        <div class="left_img">
                          <img src="/public/uploads/blogs/<%= blogfea.image %>" alt="<%= blogfea.title %>">
                        </div>
                        <div class="right_feature">
                          <h5><%= blogfea.title %></h5>
                          <div class="news-event__day">
                            <ul class="d-flex">
                              <li> <i class="icofont icofont-ui-calendar"></i>
                                <span>
                                  <%= blogfea.create_at %> </span></li>
                              <li> <i class="icofont-user-suited"></i> <%= blogfea.author %> </li>
                            </ul>
                          </div>
                        </div>
                      </a>
                    </li>
                    <% }) %>
                  </ul>
                </div>
              </div>
              <div class="sidebar-widget">
                <h4 class="text_P text-main ut_bold"> KẾT NỐI VỚI CHÚNG TÔI </h4>
                <div class="facebook-page">
                  <iframe
                    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FChiEunkorea%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=925230941188257"
                    width="100%" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <!-- news end -->