<section id="shopping" class="soph pd-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="section-title text-left mb-5">
                    <h2 class="text_P text-main ut_bold"> MUA SẮM </h2>
                </div>
            </div>
        </div>
        <div class="soph_cate_ mb-4">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-7">
                    <div class="banner-top">
                        <img src="images/banner/01.jpg" alt="">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <div class="banner-top">
                        <img src="images/banner/GiantBanner_022.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="soph__box">
                        <div class="section-title text-left">
                            <h3 class="soph__title text_P text-white ut_bold"> <%= streetsTitle.category_name %>  </h3>
                            <a href="bikes.html" class="link-more"> <span>Xem thêm&nbsp;</span><i
                                    class="icofont-long-arrow-right"></i></a>
                        </div>
                        <div class="soph__lst">
                            <div class="soph__1 owl-carousel has-owl owl-theme">
                                <% streets.forEach(function(street){ %>
                                <div class="soph__it">
                                    <div class="soph__img">
                                        <a href="bikes-details.html" title="<%= street.name %>">
                                            <img src="/public/uploads/products/<%=JSON.parse(street.image)[0] %>" alt="<%= street.name %>">
                                        </a>
                                    </div>
                                    <div class="soph__ct">
                                        <h3 class="soph__tt ut_bold"> <a href="product-detail.html" title="<%= street.name %>"> <%= street.name %> </a>
                                        </h3>
                                        <p class="line-clamp">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                            Corporis
                                            voluptatum
                                            dolore at. Illum
                                            iusto exercitationem aut est sapiente voluptates nobis excepturi commodi
                                            assumenda. Ab
                                            blanditiis temporibus nihil quasi, ex expedita.</p>
                                        <div class="soph-box d-flex">
                                            <div class="price ut_bold text-secondary">4.200.000 vnđ</div>
                                            <span class="status text-right"><i class="icofont-cube"></i> còn (25)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="soph_cate_ mb-4">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-7">
                    <div class="banner-top">
                        <img src="images/banner/01.jpg" alt="">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <div class="banner-top">
                        <img src="images/banner/GiantBanner_022.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="soph__box">
                        <div class="section-title text-left">
                            <h3 class="soph__title text_P text-white ut_bold"> Xe Đạp Điện </h3>
                            <a href="bikes.html" class="link-more"> <span>Xem thêm&nbsp;</span><i
                                    class="icofont-long-arrow-right"></i></a>
                        </div>
                        <div class="soph__lst">
                            <div class="soph__1 owl-carousel has-owl owl-theme">
                                <% races.forEach(function(race){ %>
                                    <div class="soph__it">
                                        <div class="soph__img">
                                            <a href="bikes-details.html" title="<%= race.name %>">
                                                <img src="/public/uploads/products/<%=JSON.parse(race.image)[0] %>" alt="<%= race.name %>">
                                            </a>
                                        </div>
                                        <div class="soph__ct">
                                            <h3 class="soph__tt ut_bold"> <a href="product-detail.html" title="<%= race.name %>"> <%= race.name %> </a>
                                            </h3>
                                            <p class="line-clamp">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                                Corporis
                                                voluptatum
                                                dolore at. Illum
                                                iusto exercitationem aut est sapiente voluptates nobis excepturi commodi
                                                assumenda. Ab
                                                blanditiis temporibus nihil quasi, ex expedita.</p>
                                            <div class="soph-box d-flex">
                                                <div class="price ut_bold text-secondary">4.200.000 vnđ</div>
                                                <span class="status text-right"><i class="icofont-cube"></i> còn (25)
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="soph_cate_ mb-4">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-7">
                    <div class="banner-top">
                        <img src="images/banner/01.jpg" alt="">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <div class="banner-top">
                        <img src="images/banner/GiantBanner_022.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="soph__box">
                        <div class="section-title text-left">
                            <h3 class="soph__title text_P text-white ut_bold"> Xe Đạp Trẻ Em </h3>
                            <a href="bikes.html" class="link-more"> <span>Xem thêm&nbsp;</span><i
                                    class="icofont-long-arrow-right"></i></a>
                        </div>
                        <div class="soph__lst">
                            <div class="soph__1 owl-carousel has-owl owl-theme">
                                <div class="soph__it">
                                    <div class="soph__img">
                                        <a href="bikes-details.html">
                                            <img src="images/products/01.png" alt="">
                                        </a>
                                    </div>
                                    <div class="soph__ct">
                                        <h3 class="soph__tt ut_bold"> <a href="product-detail.html">Xe
                                                Đạp Đường Trường Road GIANT Speeder-D – Phanh Đĩa, Bánh 700c – 2020</a>
                                        </h3>
                                        <ul class="color">
                                            <li><a href="bikes-details.html"></a></li>
                                            <li><a href="bikes-details.html"></a></li>
                                            <li><a href="bikes-details.html"></a></li>
                                        </ul>
                                        <p class="line-clamp">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                            Corporis
                                            voluptatum
                                            dolore at. Illum
                                            iusto exercitationem aut est sapiente voluptates nobis excepturi commodi
                                            assumenda. Ab
                                            blanditiis temporibus nihil quasi, ex expedita.</p>
                                        <ul class="soph__color">
                                            <li> <span class="red"></span> </li>
                                            <li> <span class="yellow"></span> </li>
                                            <li> <span class="blue"></span> </li>
                                            <li> <span class="black"></span> </li>
                                        </ul>
                                        <div class="soph-box d-flex">
                                            <div class="price ut_bold ut_bold text-secondary">4.200.000 vnđ</div>
                                            <span class="status text-right"><i class="icofont-cube"></i> còn (25)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="soph__it">
                                    <div class="soph__img">
                                        <a href="bikes-details.html">
                                            <img src="images/products/01.png" alt="">
                                        </a>
                                    </div>
                                    <div class="soph__ct">
                                        <h3 class="soph__tt ut_bold"> <a href="product-detail.html">Xe
                                                Đạp Đường Trường Road GIANT Speeder-D – Phanh Đĩa, Bánh 700c – 2020</a>
                                        </h3>
                                        <p class="line-clamp">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                            Corporis
                                            voluptatum
                                            dolore at. Illum
                                            iusto exercitationem aut est sapiente voluptates nobis excepturi commodi
                                            assumenda. Ab
                                            blanditiis temporibus nihil quasi, ex expedita.</p>
                                        <ul class="soph__color">
                                            <li> <span class="red"></span> </li>
                                            <li> <span class="yellow"></span> </li>
                                            <li> <span class="blue"></span> </li>
                                            <li> <span class="black"></span> </li>
                                        </ul>
                                        <div class="soph-box d-flex">
                                            <div class="price ut_bold ut_bold text-secondary">4.200.000 vnđ</div>
                                            <span class="status text-right"><i class="icofont-cube"></i> còn (25)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="soph__it">
                                    <div class="soph__img">
                                        <a href="bikes-details.html">
                                            <img src="images/products/01.png" alt="">
                                        </a>
                                    </div>
                                    <div class="soph__ct">
                                        <h3 class="soph__tt ut_bold"> <a href="product-detail.html">Xe
                                                Đạp Đường Trường Road GIANT Speeder-D – Phanh Đĩa, Bánh 700c – 2020</a>
                                        </h3>
                                        <p class="line-clamp">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                            Corporis
                                            voluptatum
                                            dolore at. Illum
                                            iusto exercitationem aut est sapiente voluptates nobis excepturi commodi
                                            assumenda. Ab
                                            blanditiis temporibus nihil quasi, ex expedita.</p>
                                        <ul class="soph__color">
                                            <li> <span class="red"></span> </li>
                                            <li> <span class="yellow"></span> </li>
                                            <li> <span class="blue"></span> </li>
                                            <li> <span class="black"></span> </li>
                                        </ul>
                                        <div class="soph-box d-flex">
                                            <div class="price ut_bold ut_bold text-secondary">4.200.000 vnđ</div>
                                            <span class="status text-right"><i class="icofont-cube"></i> còn (25)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="soph__it">
                                    <div class="soph__img">
                                        <a href="bikes-details.html">
                                            <img src="images/products/01.png" alt="">
                                        </a>
                                    </div>
                                    <div class="soph__ct">
                                        <h3 class="soph__tt ut_bold"> <a href="product-detail.html">Xe
                                                Đạp Đường Trường Road GIANT Speeder-D – Phanh Đĩa, Bánh 700c – 2020</a>
                                        </h3>
                                        <p class="line-clamp">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                            Corporis
                                            voluptatum
                                            dolore at. Illum
                                            iusto exercitationem aut est sapiente voluptates nobis excepturi commodi
                                            assumenda. Ab
                                            blanditiis temporibus nihil quasi, ex expedita.</p>
                                        <ul class="soph__color">
                                            <li> <span class="red"></span> </li>
                                            <li> <span class="yellow"></span> </li>
                                            <li> <span class="blue"></span> </li>
                                            <li> <span class="black"></span> </li>
                                        </ul>
                                        <div class="soph-box d-flex">
                                            <div class="price ut_bold text-secondary">4.200.000 vnđ</div>
                                            <span class="status text-right"><i class="icofont-cube"></i> còn (25)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="soph__it">
                                    <div class="soph__img">
                                        <a href="bikes-details.html">
                                            <img src="images/products/01.png" alt="">
                                        </a>
                                    </div>
                                    <div class="soph__ct">
                                        <h3 class="soph__tt ut_bold"> <a href="product-detail.html">Xe
                                                Đạp Đường Trường Road GIANT Speeder-D – Phanh Đĩa, Bánh 700c – 2020</a>
                                        </h3>
                                        <p class="line-clamp">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                            Corporis
                                            voluptatum
                                            dolore at. Illum
                                            iusto exercitationem aut est sapiente voluptates nobis excepturi commodi
                                            assumenda. Ab
                                            blanditiis temporibus nihil quasi, ex expedita.</p>
                                        <ul class="soph__color">
                                            <li> <span class="red"></span> </li>
                                            <li> <span class="yellow"></span> </li>
                                            <li> <span class="blue"></span> </li>
                                            <li> <span class="black"></span> </li>
                                        </ul>
                                        <div class="soph-box d-flex">
                                            <div class="price ut_bold text-secondary">4.200.000 vnđ</div>
                                            <span class="status text-right"><i class="icofont-cube"></i> còn (25)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="soph__it">
                                    <div class="soph__img">
                                        <a href="bikes-details.html">
                                            <img src="images/products/01.png" alt="">
                                        </a>
                                    </div>
                                    <div class="soph__ct">
                                        <h3 class="soph__tt ut_bold"> <a href="product-detail.html">Xe
                                                Đạp Đường Trường Road GIANT Speeder-D – Phanh Đĩa, Bánh 700c – 2020</a>
                                        </h3>
                                        <p class="line-clamp">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                            Corporis
                                            voluptatum
                                            dolore at. Illum
                                            iusto exercitationem aut est sapiente voluptates nobis excepturi commodi
                                            assumenda. Ab
                                            blanditiis temporibus nihil quasi, ex expedita.</p>
                                        <ul class="soph__color">
                                            <li> <span class="red"></span> </li>
                                            <li> <span class="yellow"></span> </li>
                                            <li> <span class="blue"></span> </li>
                                            <li> <span class="black"></span> </li>
                                        </ul>
                                        <div class="soph-box d-flex">
                                            <div class="price ut_bold text-secondary">4.200.000 vnđ</div>
                                            <span class="status text-right"><i class="icofont-cube"></i> còn (25)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="soph__it">
                                    <div class="soph__img">
                                        <a href="bikes-details.html">
                                            <img src="images/products/01.png" alt="">
                                        </a>
                                    </div>
                                    <div class="soph__ct">
                                        <h3 class="soph__tt ut_bold"> <a href="product-detail.html">Xe
                                                Đạp Đường Trường Road GIANT Speeder-D – Phanh Đĩa, Bánh 700c – 2020</a>
                                        </h3>
                                        <p class="line-clamp">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                            Corporis
                                            voluptatum
                                            dolore at. Illum
                                            iusto exercitationem aut est sapiente voluptates nobis excepturi commodi
                                            assumenda. Ab
                                            blanditiis temporibus nihil quasi, ex expedita.</p>
                                        <ul class="soph__color">
                                            <li> <span class="red"></span> </li>
                                            <li> <span class="yellow"></span> </li>
                                            <li> <span class="blue"></span> </li>
                                            <li> <span class="black"></span> </li>
                                        </ul>
                                        <div class="soph-box d-flex">
                                            <div class="price ut_bold text-secondary">4.200.000 vnđ</div>
                                            <span class="status text-right"><i class="icofont-cube"></i> còn (25)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="soph__it">
                                    <div class="soph__img">
                                        <a href="bikes-details.html">
                                            <img src="images/products/01.png" alt="">
                                        </a>
                                    </div>
                                    <div class="soph__ct">
                                        <h3 class="soph__tt ut_bold"> <a href="product-detail.html">Xe
                                                Đạp Đường Trường Road GIANT Speeder-D – Phanh Đĩa, Bánh 700c – 2020</a>
                                        </h3>
                                        <p class="line-clamp">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                            Corporis
                                            voluptatum
                                            dolore at. Illum
                                            iusto exercitationem aut est sapiente voluptates nobis excepturi commodi
                                            assumenda. Ab
                                            blanditiis temporibus nihil quasi, ex expedita.</p>
                                        <ul class="soph__color">
                                            <li> <span class="red"></span> </li>
                                            <li> <span class="yellow"></span> </li>
                                            <li> <span class="blue"></span> </li>
                                            <li> <span class="black"></span> </li>
                                        </ul>
                                        <div class="soph-box d-flex">
                                            <div class="price ut_bold text-secondary">4.200.000 vnđ</div>
                                            <span class="status text-right"><i class="icofont-cube"></i> còn (25)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>