<% extend("../../admin.ejs") %>
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-header start -->
                <div class="page-header card">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <i class="icofont icofont-file-code bg-c-blue"></i>
                                <div class="d-inline">
                                    <h4> Danh sách sản phẩm </h4>
                                    <span>Lorem ipsum dolor sit <code>amet</code>, consectetur adipisicing elit</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="page-header-breadcrumb">
                                <ul class="breadcrumb-title">
                                    <li class="breadcrumb-item">
                                        <a href="/admin" title="Trang chủ">
                                            <i class="icofont icofont-home"></i>
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item"><%= title %>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <% if(errors != ""){%>
                            <% errors.forEach((item) => {%>
                            <div class="alert alert-danger" role="alert">
                                <strong class="alert-link"><%- item %></strong>.
                            </div>
                            <%})%>
                            <%}%>
                            <% if(success != ""){%>
                            <% success.forEach((item) => {%>
                            <div class="alert alert-success" role="alert">
                                <strong class="alert-link"><%- item %></strong>.
                            </div>
                            <%})%>
                            <%}%>
                        </div>
                    </div>
                </div>
                <!-- Page-header end -->
                <div class="page-body">
                    <div class="card">
                        <div class="card-header">
                            <h5> <%= title %> </h5>
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="icofont icofont-simple-left "></i></li>
                                    <li><i class="icofont icofont-maximize full-card"></i></li>
                                    <li><i class="icofont icofont-minus minimize-card"></i></li>
                                    <li><i class="icofont icofont-refresh reload-card"></i></li>
                                    <li><i class="icofont icofont-error close-card"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="filter-block card-header text-right">
                            <!-- Example split danger button -->
                            <div class="input-group form-search">
                                <span class="input-group-addon btn-inverse" id="name"><i class="icofont icofont-search"></i></span>
                                <input type="text" class="form-control" placeholder="Tìm sản phẩm" title="" data-toggle="tooltip" data-original-title="Tìm sản phẩm...">
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-inverse btn-outline-inverse">Sắp xếp</button>
                                <button type="button" class="btn btn-inverse btn-outline-inverse dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Tăng dần</a>
                                    <a class="dropdown-item" href="#">Giảm dần</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                            <div class="ml-3 btn-group">
                                <a href='/admin/products/add-product' class="btn btn-inverse" title="<%= title %>">Thêm sản phẩm <i class="icofont icofont-plus"></i></a>
                            </div>
                        </div>
                        <div class="card-block table-border-style mt-2">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th> STT </th>
                                            <th> Ảnh Sản Phẩm </th>
                                            <th> Tên Sản Phẩm </th>
                                            <th> Giá(VNĐ) </th>
                                            <th> Trạng thái </th>
                                            <th> Số lượng </th>
                                            <th> hành động </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% products.forEach(function(product, index){ %>
                                        <tr>
                                            <th scope="row"><%= index %></th>
                                            <% if(product.image.length != 0){ %>
                                            <th class="product-image">
                                                <img class="sp_img-<%= product.id%>"
                                                    src="/public/uploads/products/<%=JSON.parse(product.image)[0] %>"
                                                    alt="">
                                            </th>
                                            <% } else{ %>
                                            <th class="product-image">
                                                <img class="sp_img-<%= product.id%>"
                                                    src="/public/admin/images/example.png" alt="">
                                            </th>
                                            <% } %>
                                            <td class="font-weight-bold">
                                                <p> <%= product.name %> </p>
                                            </td>
                                            <script>
                                                function curencyFormart(number, id) {
                                                    var numberFormat = numeral(number).format('0,0');
                                                    console.log(numberFormat);
                                                    $('#' + id).val(numberFormat);
                                                }
                                            </script>
                                            <td> <span class="product-price"> <%= product.price %> </span> <span> vnđ
                                                </span>
                                            </td>
                                            <td>
                                                <label
                                                    class="label text-center <%= product.stock === 1 ? 'label-success' : 'label-warning' %> ">
                                                    <%= product.stock === 1 ? 'Còn hàng' : 'Hết hàng' %> </label>
                                            </td>
                                            <td> <%= product.quantity %> </td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <a href="/admin/product/edit-product/<%= product.id %>"
                                                        type="button" class="btn hor-grd btn-grd-warning "
                                                        title="Sửa sản phẩm">
                                                        <i class="icofont icofont-edit"></i> </a>
                                                    <a href="/admin/product/delete-product/<%= product.id %>"
                                                        type="button" class="btn hor-grd btn-grd-danger "> <i
                                                            class="icofont icofont-ui-delete" title="Xóa sản phẩm"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <nav class="text-center" aria-label="Page navigation example">
                                <ul class="pagination mb-4">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <% for(var i=1; i < pages; i++) {%>
                                    <li class="page-item"><a class="page-link"
                                            href="/admin/products?page=<%= i %>"><%= i %></a></li>
                                    <% } %>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <script>
                                var pageli = $('.pagination .page-item');
                                //pageli[0].addClass('active');
                                console.log(pageli[<%= page %>].classList.add('active'));
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div id="styleSelector">
            </div>
        </div>
    </div>
</div>