<% extend("../../xedapphanthiet") %>
<section class="breacrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 text-center">
                <span class=big-title> <%= title %> </span>
                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="/">Trang chủ</a>
                    <span class="breadcrumb-item active">Xe đạp</span>
                </nav>
            </div>
        </div>
    </div>
</section>  
<!-- shopping start -->
<section id="shopping" class="soph mt-4 page-relative">
    <div class="container">
        <input type="hidden" id="query_id" name="query" value="<%= query %>">
        <div class="soph_cate_ soph--white adsolute_sec shadows_sec mb-4">
            <div class="row">
                <div class="col-sm-12 col-md-3 sidebar">
                    <div class="bg_grey"></div>
                    <div class="sidebar__right products_filter bg_white">
                        <div class="item">
                            <div class="wrapper">
                                <div class="right-pane">
                                    <div class="searchbox js-searchbox">
                                        <div class="searchbox-icon js-searchbox-icon">
                                            <i class="icofont-search"></i>
                                        </div>
                                        <div class="searchbox-input">
                                            <input type="text" class="input js-input" id="searchInput"
                                                placeholder="Tìm kiếm xe đạp">
                                            <ul class="result_rows">

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="searchlist js-searchlist">
                                        <div class="searchlist-header">
                                            <div class="searchlist-header-title">Recientes</div>
                                            <div class="searchlist-header-clear js-searchlist-header-clear"
                                                onclick="clearInnerHtml('.searchlist')">Borrar todo</div>
                                        </div>
                                        <div class="searchlist-item-wrapper js-searchlist-item-wrapper">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form>
                            <div class="item">
                                <h3> <a href="#danhmuc" data-toggle="collapse" href="#danhmuc" role="button"
                                        aria-expanded="false" aria-controls="collapseExample"> DANH MỤC SẢN PHẨM
                                        <span><i class="icofont-rounded-down"></i></span></a>
                                </h3>
                                <div id="danhmuc" class="list-group">
                                    <ul class="list-group list-group-flush">
                                        <% categories.forEach((category) => { %>
                                        <li class="list-group-item">
                                            <!-- Default checked -->
                                            <a href="/xe-dap/danh-muc/<%= category.category_slug %>.<%= category.id %>"
                                                title="<%= category.category_name %>"><span><i
                                                        class="icofont-dotted-right"></i></span>
                                                <%= category.category_name %>
                                            </a>
                                        </li>
                                        <% }) %>
                                    </ul>
                                </div>
                            </div>
                            <div class="item">
                                <h3> <a href="#thuonghieu" data-toggle="collapse" href="#thuonghieu" role="button"
                                        aria-expanded="false" aria-controls="collapseExample"> THƯƠNG HIỆU
                                        <span><i class="icofont-rounded-down"></i></span></a>
                                </h3>
                                <div id="thuonghieu" class="list-group">
                                    <ul>
                                        <% brands.forEach((brand) => { %>
                                        <li>
                                            <input type="checkbox" id="<%= brand.id %>" />
                                            <a href="/xe-dap/thuong-hieu/<%= brand.slug %>.<%= brand.id%>">
                                                <% if(brand.image.length > 0){ %>
                                                <img src="/public/uploads/brands/<%= brand.image %>"
                                                    alt="<%= brand.name %>">
                                                <% } else{ %>
                                                <img src="/public/xedapphanthiet/images/example.jpg" alt="">
                                                <% } %>
                                            </a>
                                        </li>
                                        <% }) %>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="sidebar__right mobie_screen">
                        <button type="button" class="btn btn-primary filter-button"><i
                                class="icofont-filter"></i>&nbsp;Bộ lọc
                        </button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-9">
                    <div class="soph__box">
                        <div class="section-title section-page-title text-left">
                            <h1 class="page-title text_P ut_bold"> <%= title %> </h1>
                            <div class="form-filter">
                                <!-- <form class="form-inline">
                                    <div class="form-group">
                                        <select class="form-control" id="filter_select">
                                            <option onclick="location.href='/xe-dap'">Thấp đến cao</option>
                                            <option onclick="location.href='/xe-dap/giam-dan'">Cao đến thấp</option>
                                        </select>
                                    </div>
                                </form> -->
                            </div>
                        </div>
                        <div class="soph__lst">
                            <div id="product_table" class="row">
                                <% if(bikes.length > 0 ){ %>
                                <% bikes.forEach((bike) => { %>
                                <div class="col-6 col-sm-6 col-md-4">
                                    <div class="soph__it">
                                        <div class="soph__img">
                                            <a href="/xe-dap/<%= bike.slug %>.<%= bike.id %>"
                                                title="<%= bike.name %>">
                                                <% if(bike.image.length > 0){ %>
                                                <img src="/public/uploads/products/<%=JSON.parse(bike.image)[0] %>"
                                                    alt="">
                                                <% } else{ %>
                                                <img src="/public/xedapphanthiet/images/example.jpg" alt="">
                                                <% } %>
                                            </a>
                                        </div>
                                        <div class="soph__ct">
                                            <span class="badge badge-info mb-3">SKU : <%= bike.sku %></span>
                                            <h3 class="soph__tt ut_bold"> <a
                                                    href="/xe-dap/<%= bike.slug %>.<%= bike.id %>"><%= bike.name %></a>
                                            </h3>
                                            <p class="line-clamp">Lorem, ipsum dolor sit amet consectetur adipisicing
                                                elit. Corporis
                                                voluptatum
                                                dolore at. Illum
                                                iusto exercitationem aut est sapiente voluptates nobis excepturi commodi
                                                assumenda. Ab
                                                blanditiis temporibus nihil quasi, ex expedita.</p>
                                            <div class="soph-box d-flex">
                                                <div class="price ut_bold text-secondary"><%= bike.price %> <sup>đ</sup>
                                                </div>
                                                <% if(bike.quantity > 0) {%>
                                                <span class="status text-right"><i class="icofont-cube"></i> còn
                                                    (<%= bike.quantity %>)
                                                </span>
                                                <% }else{ %>
                                                <span class="status text-right"><i class="icofont-cube"></i> Hết hàng
                                                </span>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <%  }) %>
                                <% }else { %>
                                <div class="alert alert-light" role="alert">
                                    Chưa có sản phẩm...
                                </div>
                                <% } %>
                            </div>
                            <button class="buttonload">
                                <i class="fa fa-spinner fa-spin"></i>Tải thêm...
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- shopping end -->
<script>

    var product_table = $('#product_table');

    var trItem = function (value, index) {
        return `<div class="col-6 col-sm-6 col-md-4">
    <div class="soph__it">
        <div class="soph__img">
            <a href="/xe-dap/${value.slug}.${value.id}" title="${value.name}">
                <img src="/public/uploads/products/${JSON.parse(value.image)[0]}" alt="${value.name}">
            </a>
        </div>
        <div class="soph__ct">
            <span class="badge badge-info mb-3">SKU : PD20203</span>
            <h3 class="soph__tt ut_bold"> <a href="/xe-dap/${value.slug}.${value.id}">${value.name}</a>
            </h3>
            <p class="line-clamp">${value.short_description}</p>
            <div class="soph-box d-flex">
                <div class="price ut_bold text-secondary">${value.price}<sup>đ</sup>
                </div>
                <span class="status text-right"><i class="icofont-cube"></i> còn
                    (${value.quantity})
                </span>
            </div>
        </div>
    </div>
</div>`;
    }
    $(function () {
        const footer = document.querySelector('#footer');
        var page = 2;
        var query = $('#query_id').val();
        var data = {};
        data.query = query;
        let callback = (entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    $.ajax({
                        url: '/xe-dap/get-more/' + page,
                        type: 'POST',
                        cache: false,
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        processData: false,
                        success: function (result) {
                            page++;
                            console.log(result.products)
                            if (result.products.length > 0) {
                                setTimeout(function () {
                                    result.products.forEach((value, index) => {
                                        product_table.append(trItem(value, index));
                                    });
                                }, 1500);
                            }
                            if (result.products.length == 0) {
                                $('.buttonload').css('display', 'none');
                            }
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                }
            });
        };

        let observer = new IntersectionObserver(callback);
        observer.observe(footer);
    });
</script>